@media screen and (min-width: 750px){
    
    /**
     *
     *      1. TAGS
     *      2. CLASS
     *              -Typography
     *              -Color
     *              -BG Color
     *              -Text Alignment
     *              -Structure(Container/Margin/Padding...)
     * 
     *      3. Components
     *              - Button
     *              - Table
     *              - Search Bar
     *              - Tab
     *              - Form
     *      4. Header / Footer
     *
     *      5. Navigation
     *
     *      6. Page
     *              - Sign In / Sign Up
     *              - Index
     *              - List Page
     *              - Single Page (Detail, Edit, Update)
     *              - Contact Page
     *              - Appendix...
     *
     *
     **/
    
    
    
    
    
    
    
    /*============================
     *
     *
     *          Tags 
     *
     *
     *============================*/
    
    *{
        box-sizing: border-box;
    }
    body{
        font-family: 'Muli', sans-serif;
    }
    p{
        font-size: 14px;
    }
    
    
    /*============================
     *
     *
     *          Class 
     *
     *
     *============================*/
    
    /* Typography */
    .bold{ font-weight: bold; }
    .uppercase{ text-transform: uppercase; }
    .text-center{ text-align: center; }
    
    
    /* Font Colors */
    .grey{ color: #CCCCCC; }
    .black{ color: #000000; }
    .white{ color: #FFFFFF; }
    .pink{ color: pink; }
    
    .margin-top-negative-10{
        margin-top: -10px;
    }
    
    
    /* Background Colors */
    .bg-grey{ background: #CCCCCC; }
    .bg-black{ background: #000000; }
    .bg-white{ background: #FFFFFF; }
    .bg-pink{ background: pink; }
    
    
    .pink-gradation{
        background: #ff294a; /* Old browsers */
        background: -moz-linear-gradient(top, #ff6d6a 0%, #ff294a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff6d6a 0%,#ff294a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff6d6a 0%,#ff294a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6d6a', endColorstr='#ff294a',GradientType=0 ); /* IE6-9 */
    }
    
    /* Structure */
     .container{
        width: 90%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    .mini-container{
        width: 50%;
        margin: 0 auto;
        padding: 30px 0;
    }
    
    /* Company Background */
    
    .bestbuy{
        background: blue;
    }
    .starbucks{
        background: green;
    }

    
    
    /*============================
     *
     *
     *          Component 
     *
     *
     *============================*/
    
    /* Message */
    #success{
        width: 100%;
        margin: 30% 0 0 0;
    }
    #success a{
        font-size: 30px;
        text-decoration: none;
    }
    
    
    

    /*============================
     *
     *
     *           Navigation 
     *
     *
     *============================*/
    #default-header{
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ff6d6a+0,ff294a+100 */
        background: #ff6d6a; /* Old browsers */
        background: -moz-linear-gradient(top, #ff6d6a 0%, #ff294a 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #ff6d6a 0%,#ff294a 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #ff6d6a 0%,#ff294a 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff6d6a', endColorstr='#ff294a',GradientType=0 ); /* IE6-9 */
    }
   
    
    #default-header .container #top-bar{
        display: table;
        width: 100%;
        padding: 10px 0 0 0;
    }
    #default-header .container #top-bar #search-bar{
        display: table-cell;
        width: 80%;
    }
 
    
    #default-header .container #top-bar #search-bar #search-form{
        margin-top: 40px;
        width: 100%;
        height: 80px;
        font-size: 25pt;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        -webkit-appearance:none;
        outline: none;
        border: none;
        padding: 5px 10px;
        opacity: 0.5;
    }
    
    #default-header .container #top-bar #dropdown-menu{
        display: table-cell;
        width: 20%;
        text-align: right;
    }
    #default-header .container #top-bar #dropdown-menu #qr-code{
        font-size: 30pt;
        width: 100px;
        height: 100px;
    }
    
    #default-header .container #tab-bar ul{
        display: table;
        width: 100%;
    }
    #default-header .container #tab-bar ul li{
        display: table-cell;
        width: 50%;
        text-align: center;
        padding: 25px 0px 0px 0px;
    }
    #default-header .container #tab-bar ul li a{
        color: white;
        font-size: 30pt;
        text-transform: uppercase;
        text-decoration: none;
    }
    #default-header .container #tab-bar ul li.active a{
        border-bottom: 10px solid white;
    }
    
    
    /*
    
        FOOTER Navigation
    
    */ 
    nav ul{
        position: absolute;
        bottom: 5px;
        display: table;
        width: 100%;
        border-top: 2px solid #CCCCCC;
        background-color: white;
    }
    nav ul li{
        display: table-cell;
        width: 25%;
        text-align: center;
        padding: 25px 0;
    }
    nav ul li img{
        width: 150px;
    }
    nav ul li a{
        font-size: 22pt;
        text-decoration: none;
        color: #8c8c8c;
    }
    nav ul li a:hover{
        background-image: url("assets/images/icons/menu_cards_red.svg");
    }
    
    
    
    
    
    /*============================
     *
     *
     *    Sign In / Sign Up Pages
     *
     *
     *============================*/
    
    #sign-up-form-container,
    #sign-in-form-container{
        min-height: 1000px;
    }
    
    #sign-up-form-container form input,
    #sign-in-form-container form input{
        display: block;
        background: rgba(0,0,0,0);
        border-top: 0;
        border-right: 0;
        border-bottom: 2px solid white;
        border-left: 0;
        padding: 20px;
        width: 100%;
        font-size: 30px;
    }
    
    #sign-up-form-container form button,
    #sign-in-form-container form button{
        background: white;
        width: 300px;
        font-size: 30px;
        margin: 30px 0 0 0;
        padding: 10px;
        -webkit-appearance: none;
        -moz-appearance: none;   
        appearance: none;
        border: 0;
        border-radius: 20px;
        color: red;
    }
    
    

    /*
    
        CARD LIST PAGE
    
    */ 
    #content .container #card-list li{
        margin-bottom: 5px;
    }
    #content .container #card-list .card-container{
        width: 48%;
        height: 250px;
        float: left;
        border-radius: 15px;
        margin: 1%;
        overflow: hidden;
    }
    #content .container #card-list .card-container img{
        background-color: white;
    }
    #content .container #card-list .card-container .card-img{
        width: 60%;
        margin: 0 auto;
    }

    
    
    /*
    
        CARD DETAIL PAGE
    
    */ 
    #card-detail-content{
        width: 80%;
        background-color: white;
        border-radius: 30px;
        margin: 10% 0 0 10%;
    }
    .card-detail-container #card-img img{
        width: 100%;
        height: 700px;
        border-radius: 30px;
        background-color: #CCCCCC;
    }
    .card-detail-container #card-detail-buttons ul li{
        text-align: center;
        width: 49.7%;
        display: inline-block;
    }
    .card-detail-container #card-detail-buttons ul li a{
        width: 100%;
        height: 100px;
        text-decoration: none;
        color: #CCCCCC;
        font-size: 30px;
        padding: 30px;
        display: block;
        font-size: 30px;
    }
    .card-detail-container #card-detail-buttons ul li a:hover{
        color: red;
    }
    .card-detail-container #barcode img{
        width: 60%;
        display: block;
        margin: 10px auto;
    }
    .card-detail-container #barcode p{
        font-size: 80px;
        text-align: center;
    }
    
    
    
    /* 
    
        CARD INFO PAGE
    
    */ 
    #card-info-content .container form input{
        width: 90%;
        margin: 5% 0 0 5%;
        font-size: 30px;
    }
    #card-info-content .container form textarea{
        width: 90%;
        margin: 5% 0 0 5%;
        font-size: 30px;
        padding: 30px;
    }
    #card-info-content .container form button{
        border: 3px;
        width: 90%;
        margin: 5% 0 0 5%;
        font-size: 30px;
    }
}






@media screen and (min-height: 1334px){
    nav ul{
        position: absolute;
        bottom: 5px;
        display: table;
        width: 100%;
        border-top: 2px solid #CCCCCC;
    }
}



